* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsuwl0F8yj9JiGhyi6JG_-8hHcVPLYcuiafg&usqp=CAU");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  position: relative;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #fdfdfd;
  top: 2rem;
  left: 2rem;
  text-decoration: none;
  color: #000;
  border-radius: 50%;
}

.ticket-booking {
  margin-top: 35vmax;
  background: #efefef;
  min-height: 100%;
  padding-bottom: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode-selector-container {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  background: #dfdfdf;
  border-radius: 2rem;
}

.individual-mode-selector {
  padding: 1em 2em;
  font-weight: 500;
}

.individual-mode-selector.selected {
  background: #fd6262;
  color: #fff;
  border-radius: 2rem;
}

.number-of-tickets {
  margin-top: 2rem;
}

.individual-option-card {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  background: #fff;
  border-radius: 1rem;
}

.path-illustration-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;
}

.path-illustration-container > h3 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  row-gap: 0.5em;
  font-weight: 500;
  color: #6a6a6a;
  z-index: 2;
}

.path-illustration-container > .journey-time {
  color: #000;
  font-weight: bold;
  text-align: center;
}

.path-illustration-container > h3 > span {
  font-size: 1.5rem;
}

.path-illustration-container > .journey-time > span {
  color: #fd6262;
}

.end-destination {
  text-align: right;
}

.dash-line {
  position: absolute;
  border-color: #efefef;
  border-left: 0;
  border-top: 0;

  border-bottom-width: 0.2rem;
  border-style: dashed;
  width: 100%;
  z-index: 1;
  top: 1rem;
}

.journey-duration-container {
  display: flex;
}

.journey-duration-container {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.time {
  font-weight: 900;
}

.date {
  margin-top: 0.25em;
  font-size: 1rem;
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.8rem;
}

.card-separator {
  border-color: #efefef;
  border-left: 0;
  border-top: 0;
  border-bottom-width: 0.2rem;
  border-style: dashed;
  width: 100%;
  margin-top: 1.5rem;
}

.name-price-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.name {
  color: #3a3a3a;
}
