* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-blue-color: #514cf1;
}

html,
body {
  width: 100%;
  height: 100%;
}

.top-nav {
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.option-btn-container {
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-btn-row {
  display: flex;
  justify-content: space-between;
}

.option-btn__dot {
  flex: 0 0 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #6a6a6a;
}

.location-dropdown {
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.location-dropdown > ion-icon {
  color: var(--primary-blue-color);
}

.location-dropdown > ion-icon:nth-of-type(1) {
  font-size: 0.8rem;
  margin-right: 0.5em;
}

.location-dropdown > ion-icon:last-child {
  margin-left: 0.2rem;
  transform: translateY(-4%);
}

.profile-btn {
  border: none;
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
}

.profile-img-container > img {
  width: 100%;
  height: auto;
}

.header {
  margin-top: 2rem;
  padding: 0 1.2rem;
}

.header__title {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.header__title > span {
  display: block;
}

.search-container {
  position: relative;
  margin-top: 1.2rem;
  width: 100%;
}

.search {
  border: none;
  width: 100%;
  padding: 1rem 1.4rem;
  padding-left: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.search::placeholder {
  text-transform: capitalize;
}

.search-icon,
.filter-btn {
  position: absolute;
}

.search-icon {
  top: 54%;
  transform: translateY(-50%);
  left: 1rem;
  color: #6a6a6a;
}

.filter-btn {
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  border: none;
  background-color: var(--primary-blue-color);
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.section {
  margin: 2rem 0;
}

.section-heading {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 1.2rem;
}

.categories-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1rem;
  padding-left: 1.2rem;
}

.categories-container::-webkit-scrollbar {
  display: none;
}

.categories-selector-btn {
  background: #fff;
  padding: 0.6em 1.4em;
  border-radius: 3rem;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  font-weight: 600;
}

main > .section:nth-of-type(2) {
  margin-top: -1rem;
  margin-right: 1.2rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 0.8rem;
  color: var(--primary-blue-color);
}

.property-cards-container {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
}

.property-cards-container > .individual-card-container {
  background: #fff;
  min-height: 70vh;
  background-image: url("https://images.unsplash.com/photo-1554435493-93422e8220c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80https://images.unsplash.com/photo-1554435493-93422e8220c8%3Fixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80https://images.unsplash.com/photo-1554435493-93422e8220c8%3Fixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80https://images.unsplash.com/photo-1554435493-93422e8220c8%3Fixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80https://images.unsplash.com/photo-1554435493-93422e8220c8%3Fixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80https://images.unsplash.com/photo-1554435493-93422e8220c8%3Fixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80https://images.unsplash.com/photo-1554435493-93422e8220c8%3Fixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80https://images.unsplash.com/photo-1554435493-93422e8220c8%3Fixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  position: relative;
  border-radius: 2rem;
}

.like-btn {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  background: rgba(256, 256, 256, 0.4);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.like-btn > ion-icon {
  color: #fff;
  font-size: 1rem;
}

.card-info-container {
  flex: 1 0 100%;
  background: #fff;
  border-top-left-radius: 2rem;
  padding: 2rem;
  position: relative;
}

.card-info-container::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: -50px;
  right: -25px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 3rem;
  box-shadow: 0 -25px 0 0 #fff;
  transform-origin: 0;
  transform: rotate(180deg);
}

.card-info-container > .heading {
  font-size: 1rem;
  display: flex;
  align-items: baseline;
}

.card-info-container > .heading > .rating {
  margin-left: 0.5em;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  color: #3a3a3a;
}

.card-info-container > .heading > .rating > ion-icon {
  color: orange;
}

.card-info-container > .address {
  font-size: 0.8rem;
  font-style: normal;
  color: #6a6a6a;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}

.card-info-container > .address > ion-icon {
  color: var(--primary-blue-color);
  margin-right: 0.5em;
  font-size: 0.6rem;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 1.2rem;
  background: #fff;
  width: 100%;
}

.nav-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav-link > a > ion-icon {
  font-size: 1.5rem;
}

.nav-link.selected > a {
  color: var(--primary-blue-color);
  position: relative;
}

.nav-link > a {
  color: #6a6a6a;
}

.nav-link.selected > a::before {
  content: "";
  width: 50%;
  height: 4px;
  background: var(--primary-blue-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.2rem;
  border-radius: 1rem;
}
